:root {
  display: flex;
  height: 100vh;
  justify-content: center;
  background: url(https://img.freepik.com/vector-premium/fiestas-patrias-chile_23-2148620547.jpg?w=826);
  background-attachment: fixed;
  background-size:cover;
}